Repository HangarCN/halo-theme-hangar-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

✨ feat(module): 增加分页/面包屑等模块
  archives.ftl
  category.ftl
  index.ftl
  module/category_bread.ftl
  module/macro.ftl
  module/pagination.ftl
  module/post_bread.ftl
  module/post_print.ftl
  module/post_share.ftl
  post.ftl
  tag.ftl
  theme.yaml
Due: none

✨ feat(module): 添加文章文字大小修改模块
  module/post_fontSize.ftl
  module/post_share.ftl
Due: none

🐞 fix 修改点击打印后不显示背景图片的问题 🐞 fix 修改字体大小切换后不生效的问题
  post.ftl
  source/css/style.css
Due: prettier --write

✨ feat(module): 添加栏目新闻切换模块; 🦄 refactor(module): 重命名文章字体 大小模块;
  index.ftl
  module/index_tabs.ftl
  module/post_font_size.ftl
  post.ftl
Due: none

🦄 refactor(module): CDN方式引用的文件修改为本地引用，添加bootstrap依赖;
  module/macro.ftl
  module/post_share.ftl
  source/css/bootstrap.min.css
  source/js/axios.min.js
  source/js/bootstrap.bundle.min.js
  source/js/jquery-3.6.0.min.js
  source/js/qrcode.min.js
Due: eslint, prettier --write

🦄 refactor (settings) 全局配置接口地址; 🦄 refactor (module) 部分匿名方法添加方法名
  category.ftl
  module/index_tabs.ftl
  module/index_videos.ftl
  module/menu.ftl
  settings.yaml
Due: none

Path conditions:
  eslint: any of: *.js
  prettier --write: any of: *.css
